*npy
model_epoch*
__pycache__/
*.pyc
wandb

# Virtual environment
venv/
env/
# IDE-specific files
.idea/
.vscode/
# Logs and temporary files
*.log
*.tmp

# data & output
data/
outputs/
inference-output/
train-log/

lib/UncertainSample/DEviS-main/results/
DTU-Net/
