*npy
model_epoch*
__pycache__/*
wandb

# Virtual environment
venv/
env/
# IDE-specific files
.idea/
.vscode/
# Logs and temporary files
*.log
*.tmp

# data & outout
data/
inference-output/
train-log/

lib/UncertainSample/DEviS-main/results/
DTU-Net/
